.Home {
  background-color: rgb(235, 238, 243);
  min-height: 110vh;
}

.Home img {
  object-fit: cover;
  height: 400px;
  width: 500px;
  font-size: 0;
}

.Home .hidden {
  visibility: hidden;
  height: 475px;
  width: 475px;
}

.Home .grid {
  margin: 0 5vw;
  margin-top: 7vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3vw;
  margin-bottom: 5vh;
}

.Home .card {
  font-size: 1.8rem;
  align-self: center;
  min-height: 150px;
  border-radius: 5px;
  background-color: rgb(247, 242, 242);
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  box-shadow: rgba(89, 197, 147, 0.3) 5px 5px;
  text-decoration: black;
  color: black;
}

.Home .card span {
  margin: 0 10px;
}

.Home .card-green {
  border-top: rgb(37, 228, 133) 5px solid;
  animation: fadein 4500ms;
}

.Home .card-yellow {
  border-top: rgba(240, 226, 28, 0.842) 5px solid;
  animation: fadein 6700ms;
}

.Home .card-blue {
  border-top: rgba(28, 173, 240, 0.842) 5px solid;
  animation: fadein 5700ms;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 1000px) {
  .Home {
    overflow: hidden;
  }
  .Home .grid {
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(220px, auto);
  }

  .Home img {
    height: 800px;
  }

  .Home .card {
    height: 100%;
  }
}
